<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h2>Jobs</h2>

      <table class="table">
        <tr>
          <th>url</th>
          <th>last run</th>
          <th>next run</th>
          <th></th>
        </tr>

        {{#jobs}}
        <tr>
          <td>{{attrs.name}}</td>
          <td><span data-livestamp="{{attrs.lastRunAt}}">{{attrs.lastRunAt}}</span></td>
          <td><span data-livestamp="{{attrs.nextRunAt}}">{{attrs.nextRunat}}</span></td>
          <td><button class="btn btn-danger btn-xs job" data-jobid="{{attrs._id}}">delete</button></td>
        </tr>
        {{/jobs}}
        {{^jobs}}
          <tr>
            <td colspan="4"><p class="info">There aren't any jobs.</p></td>
          </tr>
        {{/jobs}}
      </table>
    </div>

    <div class="col-md-3">
      <button class="btn btn-primary" data-toggle="modal" data-target="#jobModal">Add Job</button>

      <!-- Add new job Modal -->
      <div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form role="form" action="/jobs" method="post">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="title">Add new job</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="url" class="form-control" id="url" name="url" placeholder="url">
              </div>

              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  <input type="text" class="form-control" name="startDate" placeholder="start date/time" />
                </div>
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <div class="radio">
                    <label>
                      <input type="checkbox" name="repeat" value="every">
                      Repeat every
                      <div class="input-group">
                        <div class="input-type-btn">
                          <input type="number" name="everyUnit" class="form-control" />
                          <select name="interval" class="form-control">
                            <option value="seconds">seconds</option>
                            <option value="minutes">minutes</option>
                            <option value="hours">hours</option>
                            <option value="days">days</option>
                            <option value="weeks">weeks</option>
                          </select>
                        </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save" />
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#yield-scripts}}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment-with-locales.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });

    $(function() {
      $('.job').click(function (){
        var jobid = $(this).data().jobid;
        var form = $("<form />", {
            action: "/jobs/" + jobid,
            method: 'POST'
        });
        form.submit();
      });
    });
</script>
{{/yield-scripts}}

{{#yield-head}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" />
{{/yield-head}}
